@model IEnumerable<meme_gen.Models.UserBookmark>
@{
    ViewData["Title"] = "My Bookmarks";
}

<h2>My Bookmarked Memes</h2>

@if (!Model.Any())
{
    <p>You have no bookmarks yet :[</p>
}
else
{
    <div class="masonry-grid">

            @foreach (var bookmark in Model)
            {
                <div class="meme-card">
                    <div>
                        @if (bookmark.MemeTemplate != null)
                        {
                            <a href="@Url.Action("Edit", "Meme", new { id = bookmark.MemeTemplateId })">
                                <img src="@bookmark.MemeTemplate.ImagePath" alt="Bookmarked Meme" class="meme-image"  />
                            </a>
                        }
                    </div>
                </div>
            }
    </div>
}
